 {% extends parent_template|default:"organizer/base_organizer.html" %}

{% block title %}
          Delete Department
{% endblock %}

{% block content %}


      <form action="{{ department.get_delete_url }}" method="post">
        {% csrf_token %}
        <p>
          Are you sure you want to delete
          department {{ department.name }}?
        </p>
        <a href="{{ department.get_absolute_url }}" class="button button-primary">Cancel</a>
        <button type="submit">Delete Dept</button>
      </form>


{% endblock %}